@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
}

header marquee img{
    z-index: -1;
}

    :root{
      background-image: linear-gradient(gray, black, gray);
      font-family: 'Kanit';
    }
    
    *{
        box-sizing: border-box;
    }

    .background_for_config{
      background-color: white;
    }
    
    .icon{
      display: flex;
      justify-self: center;
      align-items: center;
      width: 20%;
      margin-top: 5rem;
      margin-bottom: 2rem;    
      background:white;
      border-radius: 3rem;
      max-height: 50vh;
    }

    /* .center-models-text{
      background-color: darkgrey;
      justify-self: center;
    } */

    
    .models_text-box{
      display: block;
      font-size: x-large;
      background: rgb(88, 88, 88);
      border-top: solid 1px white;
      border-bottom: solid 1px white;
      padding: 3rem;
      width: 100%;
    }

    .models_text-box-h1{
      display: flex;
      justify-content: center;
    }

    .models_text-box-p{
      display: flex;
      justify-content: center;
    }
 
  
    .center-h1{
      justify-self: center;
    }
    .center-h1-v2{
      margin-top: 7rem;
      justify-self: center; 
      font-size: xx-large;
    }

    
    /* HERO IMAGE */
      .hero_image{
        display:block;
        justify-content: center;
        width: 60%;
      }
    /* HERO IMAGE */

    .hero_image_config-page{
      display: block;
      justify-content: center;
      width: 100%;
    }
    
      .config_text-container{
        display: block;
      }

      .config_text-container p{
        display: flex;
        justify-self: center;
        text-align: left;
        font-size: x-large;
        color: white;
      } 

      .about-us_image{
        display:flex;
        justify-self: center;
        width: 60%;
      }

      .config_text-container h1{
        justify-self: center;
        text-align: left;
        font-size: xx-large;
        color: white;
      }

      .config_text-container h2{
        justify-self: center;
        text-align: left;
        font-size: xx-large;
        color: white;
      }

      .interior-exterior_selection{
        display: flex;
        align-self: center;
        justify-self: center;
        text-align: left;
        font-size: large;
        color: white;
      }


    

      .image-button{
        width:62%;
      }

      .image-button-2{
        width:60%;
      }
      
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        width: 100%;
        height: 10%;
        /* position:fixed; */
        top: 0;
        z-index: 100;
        text-align: center;        
      }
      
      ul {
        /* background: darkorange; */
        display: flex;
        align-self: center;
        list-style: none;
        margin: 0;
        padding-left: 0;
      }




      






      .text-container-apply-confirm{
        display: flex;
        flex-direction: column;
        padding: 20rem;
      }
      .text-container-apply-confirm h1{
        align-self: center;
        font-size: xx-large;
        color: white;
      }
      .text-container-apply-confirm a{
        align-self: center;
        text-decoration: none;
        color: white;
        font-size: x-large;
      }
      .text-container-apply-confirm a:hover{
        background-color: darkgrey;
        border-radius: 0.2rem;
        color: black;
        transition-duration: 200ms;
      }

      .models_text-box a{
        display: flex;
        justify-content: center;
        color: white;
        font-size: x-large;
      }


      .models_text-box a:hover{
        border-radius: 0.2rem;
        color: black;
        transition-duration: 20 0ms;
      }

      .models_text-box2{
        display: block;
        font-size: x-large;
        background: rgb(88, 88, 88);
        border-top: solid 1px white;
        border-bottom: solid 1px white;
        padding: 3rem;
        width: 100%;
      }

      .models_text-box2 a{
        color: white;
        font-size: x-large;
      }


      .models_text-box2 a:hover{
        border-radius: 0.2rem;
        color: black;
        transition-duration: 20 0ms;
      }

      #config-options_confirm-option{
        padding: 0.8rem;
      }

      .config_options #config-options_confirm-option{
        background-color: grey;
        color: white;
      }
      .config_options #config-options_confirm-option:hover{
        background-color: white;
        color: black;
      }


      

      /* .config_option-controller{
        display:flex;
        flex-direction:row;
        align-items: flex-end;
        text-align: center;
      } */

      


:root{
  background-image: linear-gradient(gray, black, gray);
  font-family: 'Kanit';
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* HERO IMAGE */
.hero_image{
  display:block;
  justify-content: center;
  width: 60%;
}
/* HERO IMAGE */

  
header {
  position: sticky;
  top: 0px;
  z-index: 100;
}
  
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 95%;
  text-align: center;        
}

ul {
  /* background: darkorange; */
  width: 100%;
  display: flex;
  /* align-self: center; */
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.home_button {
  /* background: darkorange; */
  justify-self: center;
}

.hamburger {
  /* background: darkorange; */
  /* justify-self: flex-end; */
  list-style: none;
}

.dropdown {
  position: absolute;
  right: 0;
  width: fit-content;
}


li {
  color: #fff;
  /* background: darkorange; */
  padding: 1rem;
  position: relative;
  transition-duration: 0.5s;
}
  
li a {
  color: black;
}

li:hover,
li:focus-within {
  background: rgb(182, 182, 182);
  cursor: pointer;
}


li:focus {
  background: rgb(182, 182, 182);
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.5rem;
  background-color: grey;
  visibility: hidden;
  opacity: 0;
  min-width: 0.2rem;
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 1rem;
  right: 0;
  display: none;
  width: fit-content;
}



/* header nav ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
} */






ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  /* width: 500px; */
  visibility: visible;
  opacity: 1;
  display: block
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  } 
}

ul li ul li {
  clear: both;
  font-size: 1.25rem;
  /* display:flex; */
  /* justify-content: center; */
  /* justify-self: center; */
  background-color: white;
  padding:0.25rem;
  border-color: black;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 1px;
}

ul li ul li a {
  width: 100%;
  height: 100%;
  display: block;
}

footer {
  display: flex;
  flex-direction: row;
  /* justify-self: center; */
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
  border-bottom: 0.3rem solid grey;
  color:#fff;        
  width:100%;
  background-image: linear-gradient(to right, gray, black, gray, black, grey);

}

.footer-title{
  display:flex;
  align-self: center;
  font-weight: 600;
  font-size: 64px;

  color: lightgrey;
}

.footer_content{
  display: flex;
  text-align: left;
  flex-direction: column;
  align-self: center;
}

.phone_icon{
  display:flex;
  align-self: flex-start;
}

.footer_buttons{
  display: flex;
  flex-direction: column;
}

.footer_buttons a{
  text-decoration: none;
  font-size: xx-large;
  color: white;
}

.footer_buttons a:hover{
  background: grey;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.footer_extra{
  width:100%;
  background-image: linear-gradient(to right, gray, black, gray, black, grey);
}

.footer_extra p {
  color: white;
  font-weight: 600;
  display:flex;
  justify-content:center;
}

.slideshow-container {
  max-width: 100%;
  margin: auto;
}

.main-container{
  position:relative;
}















      .nemesis_title-box{
        display: block;
        font-size: xx-large;
        background: rgb(88, 88, 88);
        border-top: solid 1px white;
        border-bottom: solid 1px white;
        padding: 10rem;
        width: 100%;
      }

      .config_image{
        width: 80%;
      }
      .config_image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .hero_new{
        display: flex;
        justify-content: center;
      }
      .hero-new img{
        height: 100%;
        object-fit: cover;
      }

      .config_options{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_option-controller{
        display:flex;
        flex-direction:row;
        align-items: flex-end;
        text-align: center;
      }

      .config_option-controller-special{
        display:flex;
        flex-direction:row;
        align-items:baseline;
        text-align: center;
      }

      .config_options-special{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_options-special a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 7.2rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: large;
      }

      .config_options-special a:hover{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      
      .config_options-special a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config_options-special #config-options_confirm-option{
        background-color: grey;
        color: white;
      }

      .config_options-special #config-options_confirm-option:hover{
        background-color: white;
        color: black;
      }

      .config_options-special #config-options_confirm-option:focus{
        background-color: white;
        color: black;
      }

      .config_options-special2{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_options-special2 a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 8.2rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: x-large;
      }

      .config_options-special2 a:hover{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config_options-special2 a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config_options-special2 #config-options_confirm-option{
        background-color: grey;
        color: white;
      }

      .config_options-special2 #config-options_confirm-option:focus{
        background-color: white;
        color: black;
      }



      .config_options-special3{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_options-special3 a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 5rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: x-large;
      }

      .config_options-special3 #config-options_confirm-option{
        background-color: grey;
        color: white;
      }

      .config_options-special3 a:hover{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config_options-special3 a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config_options-special3 #config-options_confirm-option:hover{
        background-color: white;
        color: black;
      }

      .config_options-special3 #config-options_confirm-option:focus{
        background-color: white;
        color: black;
      }
      /* .config_options-logo{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      } */

      /* .config_options-logo a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 2.9rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: medium;
      } */

      .config_options a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 2.9rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: medium;
      }

      .config_options a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .next_prev-controller a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config_options_widow a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config-options-widow a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }
      

      .config_options-new{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_options-new a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 7.15rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: medium;
      }


      .config_option-controller a:hover{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .headlight_link-text{
        align-self: left;
      }

      .image_config_controller{
        display: block;
        align-content: flex-end;
      }

      .config_options-logo{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_options-logo a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 2.9rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: medium;
      }

      .config_options-logo #config-options_confirm-option{
        background-color: grey;
        color: white;
      }

      .config_options-logo #config-options_confirm-option:hover{
        background-color: white;
        color: black;
      }
      



      

      /* .config_controller{
        display: block;
        flex-direction: row;
      } */

      .mySlides {
        display: none;
      }

      .next_prev-controller{
        display:flex;
        justify-items:space-between;
        align-items: flex-start;
      }

      .next_prev-controller a{
        border-radius: 2rem;
        text-decoration: none;
        font-size: large;
        width: 10%;
        padding:2rem;
        border: 1px solid white;
        background: black;
        color:white
      }

      .next_prev-controller a:hover{
        background: lightgrey;
        color: black;
        transition-duration: 500ms;
      }

      .equip_button_controller{
        text-align: center;
        background: darkgrey;
        align-self: flex-end;
        justify-self: flex-start;
      }

      .prev, .next {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      .config_options_widow{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_options_widow a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 3.5rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: medium;
      }


/* ----------HUBCAPS----------------- */
      


      .image-container_hubcap{
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }
   
      .config_option-controller-hubcaps{
        display:flex;
        flex-direction:row;
        align-items: flex-end;
        text-align: center;
      } 

      .config-options-widow{
        display:flex;
        flex-direction: row;
        width: 60%;
        align-self: flex-end;
      }

      .config-options-widow a{
        justify-self: flex-start;
        padding: 9rem; 
        text-decoration: none;
        background: black;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: x-large;
      }

      .config-options-widow a:hover{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config-options-widow #config-options_confirm-option{
        background-color: grey;
        color: white;
      }

      .config-options-widow #config-options_confirm-option:hover{
        background-color: white;
        color: black;
      }

      .config-options-widow #config-options_confirm-option:focus{
        background-color: white;
        color: black;
      }

      .config_options-new a:focus{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }
/*-----------------HUBCAPS----------------- */


      

      .config_options-special4{
        display:flex;
        flex-direction: column;
        width: 20%;
        align-self: flex-end;
      }

      .config_options-special4 a{
        justify-self: flex-start;
        text-decoration: none;
        background: black;
        padding: 5rem;
        color: white;
        border: solid 1px white;
        text-align: center;
        font-size: x-large;
      }

      .config_options-special4 #config-options_confirm-option{
        background-color: grey;
        color: white;
      }

      .config_options-special4 a:hover{
        background-color: darkgrey;
        color:black;
        transition-duration: 300ms;
      }

      .config_options-special4 #config-options_confirm-option:hover{
        background-color: white;
        color: black;
      }



.mySlides {
  display: none;
}


.prev, .next {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  z-index: 100;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  z-index: 100;
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171 !important;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.mySlides {
  display: none;
}

.next {
  z-index: 100;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

/* .active, .dot:hover {
  background-color: #717171;
} */

.content_box{
  z-index: 5;     
  width: 50%;
  height: 100%;
  padding:4vw;
  color:white;
  font-size: x-large;
  background: rgba(141, 141, 141, 0.3);

}

.content_box-new{
  z-index: 5;     
  width: 50%;
  height: 100%;
  padding:4rem;
  color:white;
  font-size: x-large;
}

.content_box-new h1{
  display: flex;
  justify-content: center;
}


.image_border{
  height: 52.5%;
  border: 1px solid white;
}

.box_control{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.quick-link{
  color: white;
}

.quick-link:hover{
  background-color: grey;
  color:black;
}



#merch-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

#merch-header img {
  position: absolute;
  right: 1rem;
  /* padding: 1rem; */
}

.merch-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.merch-item > .merch-image {
  object-fit: contain;
  border-radius: 0.25rem;
  width: fit-content;
  height: fit-content;
}

/* .merch-image > img {
  object-fit: contain;
  width: 100%;
  height: auto;
} */

.merch-item > .merch-description {
  border:2px solid #717171;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 500px;
}

/* .merch-description > p {
  color: gainsboro;
} */

.merch-description > a {
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1.5rem;
}

p, h1, h2, h3, h4 {
  color: white;
}



.hubcap-image{
  width: 100%;
}













/* ```````````````````MEDIA Q'S `````````````````````*/
/* -------------------------------------------------- */



/* 2xl */
@media (max-width: 1536px) {
  .config_options a {
    padding: 1.8rem;
    } 
    .config_options-special a {
      padding: 4vw;
    }
    .config_options-special2 a {
      padding: 7vw;
    }
}

/* xl */
@media (max-width: 1280px) {

  .config_options a {
    padding: 1.35rem;
    font-size:12px;
    } 
 
  .hubcap-image{
    width: 100%;
    height: 30rem;
  }
  .config_options-special a {
    padding: 5vw;
  }
  .config_options-special2 a {
    padding: 5vw;
  }
}

/* @media (max-width: 1104px)
  .config_options a {
    padding: 1.45rem;
    font-size: small;
}
} */

/* 
@media (max-width: 1038px) {
  .config_options a {
    padding: 1.1rem;
    font-size: medium;
}
} */



/* lg */
@media (max-width: 1024px) {

  .hubcap-image{
    width: 70%;
  }
  ul li ul li {
    padding:0.18rem;
  }
  
  .content_box {
    padding: 3vw;
  }
  .nemesis_title-box{
    padding: 10rem;
  }
  .hubcap-image{
    width: 80%;
    height: 60vw;
  }
  .config_options-special a {
    padding: 7vw;
  }

  .config_options-special2 a {
    padding: 5vw;
  }
}



/* @media (max-width: 541px){
  .config_image img {
  height: 38rem;
  width: 100%;  
  } 
} */



/* md */
@media (max-width: 768px) {
  ul li ul li {
    font-size: 2rem;
    padding:0.15rem;
  }

  .footer_buttons a{
    font-size: x-large;
  }
  .content_box {
    padding: 3vw;
    font-size: larger;
  }
  .nemesis_title-box{
    padding: 8rem;
  }

  .config_options a {
  padding: 0.94rem;
  font-size:12px;
  } 
  

  
  .config_image img {
    height: 60vw;
    width: 100%;
    
    }
    .hubcap-image{
      width: 90%;
      height: 68vw;
    }

    .config_options-special2 a {
      padding: 5vw;
    }
   
}

/* sm */
@media (max-width: 640px) {
  ul li ul li {
    font-size: 1.3rem;
    padding: 0.4rem;
}

  .footer_buttons a{
    font-size: large;
  }
  .content_box {
    padding: 3vw;
    font-size: medium;
  }
  .footer-title {
    font-size: 48px;
  }
  .footer_content {
    font-size: small;
  }

  .account-detail p {
    font-size: 11px;
  }

  .models_text-box-p, .models_text-box2 p{
    font-size: x-large;
  }
  .nemesis_title-box h1{
    font-size: x-large;
  }
  .nemesis_title-box{
    padding: 6rem;
  }

.footer_extra p{
  font-size: medium;
}
.config_options a {
padding: 0.85rem;
font-size:12px;
} 

footer{
margin-top: auto;
min-height: 11rem;
}

.config_image img {
height: 24rem;
width: 100%;

} 

.hubcap-image{
  width: 80%;
  height: 64vw;
}

.config_options-special a {
  padding: 5vw;
  font-size: small;
}

.config_options-special2 a {
  padding: 4.3vw;
  font-size: small;
}
  
}

/* @media (max-width: 511px){
  .config_options a {
    padding: 0.45rem;
    font-size: xx-small;
}
} */

/* xs */
@media (max-width: 475px) {

  .content_box {
    padding: 3vw;
    font-size: small;
  }
  .footer_buttons a{
    font-size: medium;
  }

  .footer_content {
    font-size: x-small;
  }

  .account-detail p {
    font-size: 12px;
  }



  .nemesis_title-box{
    padding: 4rem;
  }

  ul li ul li {
    font-size: 1rem;
    padding: 0.7rem;
}


.footer_extra p{
  font-size: small;
}
.config_options a {
padding: 0.8rem;
font-size:10px;
} 

footer{
margin-top: auto;
min-height: 11rem;
}

.config_image img {
height: 24rem;
width: 100%;

} 

.hubcap-image{
  width: 70%;
  height: 20rem;
}

.config_options-special a {
  padding: 3vw;
  font-size: xx-small;
}

.config_options-special2 a {
  padding: 4.3vw;
  font-size: small;
}
}

/* xxs */
@media (max-width: 300px) {
  .content_box {
    padding: 2vw;
    font-size: x-small;
  }
  .footer_buttons a{
    font-size: xx-small;
  }

  .footer_content {
    font-size: xx-small;
  }

  .footer-title {
    font-size: 28px;
  }

  .account-detail p {
    font-size: 8px;
  }

  .footer_extra p{
    font-size: small;
  }



  .nemesis_title-box{
    padding: 2rem;
  }


.config_options a {
  padding: 0.8rem;
  font-size: 7px;
} 

footer{
  margin-top: auto;
  min-height: 11rem;
}

.config_image img {
  height: 22.5rem;
  width: 100%;
}

.hubcap-image{
  width: 90%;
}

.config_options-special a {
  padding: 3vw;
  font-size: medium;
}

}







